@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primar-color: #f50057;
  --secondary-color: #f3f4f6;
}

body {
  font-family: "Quicksand";
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
}

.content {
  margin: 2rem auto;
}

.navbar {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem 0 2rem;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: var(--primar-color);
}

.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px 10px;
  color: #000;
}
.navbar a:hover {
  /* color: #f1356d; */
  color: var(--primar-color);
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.blog-preview h2 {
  font-size: 20px;
  /* color: #f1356d; */
  color: var(--primar-color);
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

.blog-preview p {
  color: #000;
}

.inner-blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin: 1rem 0;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  color: #f1356d;
  background: none;
  cursor: pointer;
  border: 1px solid #f50057;
  outline: none;
  padding: 0.5rem;
  padding-left: 0.95rem;
  padding-right: 0.95rem;
  border-radius: 1.5rem;
  font-size: 0.9rem;
}

/* create new blog form */
.create,.search {
  max-width: 400px;
  margin: 0 auto;
  /* text-align: center; */
}
.create label,.search label {
  text-align: left;
  display: block;
}
.create h1,.search h1 {
  font-size: 27px;
  color: #f1356d;
  margin-bottom: 30px;
  margin-top: 2rem;
}
.create input,
.create textarea,
.create select,
.search input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 3px;
  font-size: 1rem;
}
.create button,.search button {
  background: #f1356d;
  color: #fff;
  margin: 2rem 0;
  border: 0;
  width: 60%;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.95rem;
  outline: none;
}
